{% extends "admin/layouts/base.html.twig" %}

{% block title %}Edit tag{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="card p-3 bg-dark">
        <h1>Edit tag</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary mt-3" type="submit">Update</button>
        {{ form_end(form) }}

    </div>
{% endblock %}